@media only screen and (max-width: 992px) {

    /* cover start */
    #cover {
        display: flex;
        /* display: none; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .switcher {
        display: none;
    }

    .welcome {
        color: rgba(209, 209, 209, 0.5);
        font-family: 'gotham-light';
        font-size: 1.0rem;
        letter-spacing: 0.1em;
        padding: 10px 0;
    }

    .heading {
        color: rgb(255, 255, 255);
        font-family: 'brisk-pro';
        font-size: 2em;
        padding-left: 5px;
        box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    }

    .btn-discover {
        background-color: #000;
        color: rgba(255, 255, 255, 0.4);
        padding: 7px 12px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        font-family: 'gotham-book';
        font-size: .7rem;
        line-height: 20px;
        letter-spacing: 0.2em;
        cursor: pointer;
        margin-top: 50px;
        border-radius: 2px;
        transition: ease-in-out .4s;
    }

    .btn-discover:hover {
        color: rgba(255, 255, 255, 0.6);
        border: 1px solid rgba(255, 255, 255, 0.2);
        transition: ease-in-out .5s;
    }

    .dds {
        display: block;
        color: rgba(209, 209, 209, 0.5);
        font-family: 'gotham-light';
        font-size: .8rem;
        margin: 5px;
    }

    .gradient-divider {
        height: 1px;
        width: 60%;
        margin: 10px auto;
        margin-bottom: 3px;
        background-image: linear-gradient(left,
                #111111 2%,
                #a0a0a0 50%,
                #111111 98%);
        background-image: -o-linear-gradient(left,
                #111111 2%,
                #a0a0a0 50%,
                #111111 98%);
        background-image: -moz-linear-gradient(left,
                #111111 2%,
                #a0a0a0 50%,
                #111111 98%);
        background-image: -webkit-linear-gradient(left,
                #111111 2%,
                #a0a0a0 50%,
                #111111 98%);
        background-image: -ms-linear-gradient(left,
                #111111 2%,
                #a0a0a0 50%,
                #111111 98%);
        background-image: -webkit-gradient(linear,
                left bottom,
                right bottom,
                color-stop(0.02, rgba(0, 0, 0, 0.061)),
                color-stop(0.5, #a0a0a0),
                color-stop(0.98, rgba(0, 0, 0, 0.061)));
    }

    /* cover end */

    /* about start */
    .about-wrapper {
        display: none;
    }

    /* about end */




    /* creations start */
    .creations-wrapper {
        display: none !important;

    }

    .creations-control {
        display: none;
    }

    /* creations end */

    /* contact start */
    .contact-hey {
        display: none;
    }

    .contact-info {
        display: none;
    }

    /* contact end */

}

@media only screen and (max-width: 600px) {
    .copyright a {
        font-size: .8em;
        display: none;
    }

    .copyright p {
        display: flex;
    }
}

@media (min-width: 600px) and (max-width: 992px) {
    .copyright a {
        font-size: .9em;
        display: flex;
    }
}

@media (min-width: 600px) {
    .copyright p {
        display: none;
    }
}