#cover {
    display: none;
    z-index: 9;
    background-image: url("../img/patterns/txture-dark.png");
}

@media only screen and (min-width: 993px) {
    #cover {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .welcome {
        color: rgb(160, 160, 160, 0.9);
        font-family: "gotham-light";
        font-size: 1.8rem;
        letter-spacing: 0.1em;
        padding: 10px 0;
    }

    .heading {
        color: rgb(255, 255, 255);
        font-family: "brisk-pro";
        font-size: 4em;
        padding-left: 5px;
        box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);

    }

    .gradient-divider {
        animation-delay: .3s;
        height: 1px;
        width: 60%;
        margin: 15px auto;
        margin-bottom: 3px;
        background-image: linear-gradient(left,
                #111111 2%,
                #a0a0a0 50%,
                #111111 98%);
        background-image: -o-linear-gradient(left,
                #111111 2%,
                #a0a0a0 50%,
                #111111 98%);
        background-image: -moz-linear-gradient(left,
                #111111 2%,
                #a0a0a0 50%,
                #111111 98%);
        background-image: -webkit-linear-gradient(left,
                #111111 2%,
                #a0a0a0 50%,
                #111111 98%);
        background-image: -ms-linear-gradient(left,
                #111111 2%,
                #a0a0a0 50%,
                #111111 98%);
        background-image: -webkit-gradient(linear,
                left bottom,
                right bottom,
                color-stop(0.02, rgba(0, 0, 0, 0.061)),
                color-stop(0.5, #a0a0a0),
                color-stop(0.98, rgba(0, 0, 0, 0.061)));
    }

    .lead {
        color: rgb(160, 160, 160);
        font-family: "rajdhani-light";
        letter-spacing: 0.1rem;
        font-size: 1.6em;
    }

    .btn-discover {
        background-color: #000;
        color: rgba(255, 255, 255, 0.4);
        padding: 7px 12px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        font-family: "gotham-book";
        font-size: 0.8em;
        line-height: 20px;
        letter-spacing: 0.2em;
        cursor: pointer;
        margin-top: 50px;
        transition: ease-in-out 0.4s;
    }

    .btn-discover:hover {
        color: rgba(255, 255, 255, 0.6);
        border: 1px solid rgba(255, 255, 255, 0.274);
        transition: ease-in-out 0.4s;
    }

    .btn-discover:active {
        color: rgba(255, 255, 255, 0.589);
        border: 1px solid rgba(255, 255, 255, 0.274);
        transition: ease-in-out 0.4s;
    }

    .shine-effect {
        -webkit-mask-image: linear-gradient(-75deg,
                rgba(255, 255, 255, 0.6) 30%,
                rgb(255, 255, 255) 50%,
                rgba(255, 255, 255, 0.6) 70%);
        mask-image: linear-gradient(-75deg,
                rgba(255, 255, 255, 0.6) 30%,
                rgb(255, 255, 255) 50%,
                rgba(255, 255, 255, 0.6) 70%);
        -webkit-mask-size: 200%;
        mask-size: 200%;
        animation: shine 4s infinite;
        color: rgb(255, 255, 255) !important;
        transition: ease-in 0.5s;
    }

    .switcher {
        padding: 0em 5em;
        color: #999;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        margin-top: -5px;
    }

    .switcher p {
        height: 50px;
        float: left;
        margin-right: 0.3em;
    }

    .switcher b {
        float: left;
        overflow: hidden;
        position: relative;
        height: 50px;
        top: 0.5px;
        text-align: left;
        line-height: 50px;
        width: 90px;
    }

    .switcher .inner-switcher {
        display: inline-block;
        color: #ffc95c;
        position: relative;
        white-space: nowrap;
        top: 0;
        left: 5px;
        /*animation*/
        -webkit-animation: move 7s;
        -moz-animation: move 7s;
        -ms-animation: move 7s;
        -o-animation: move 7s;
        animation: move 7s;
        /*animation-iteration-count*/
        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        -ms-animation-iteration-count: infinite;
        -o-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        /*animation-delay*/
        -webkit-animation-delay: 2s;
        -moz-animation-delay: 2s;
        -ms-animation-delay: 2s;
        -o-animation-delay: 2s;
        animation-delay: 2s;
        font-family: "rajdhani-light";
        letter-spacing: 0.1rem;
        font-size: 1.6em;
    }

    .dds {
        display: none;
    }
}