@font-face {
    font-family: "brisk-pro";
    src: url("../fonts/brisk-pro/Brisk-Pro.otf") format("truetype");
}

@font-face {
    font-family: "brisk-pro-light";
    src: url("../fonts/brisk-pro/Brisk-Pro-Light.otf") format("truetype");
}

@font-face {
    font-family: "brisk-pro-thin";
    src: url("../fonts/brisk-pro/Brisk-Pro-Thin.otf") format("truetype");
}

@font-face {
    font-family: "rajdhani-bold";
    src: url("../fonts/rajdhani/Rajdhani-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "rajdhani-light";
    src: url("../fonts/rajdhani/Rajdhani-Light.ttf") format("truetype");
}

@font-face {
    font-family: "rajdhani-medium";
    src: url("../fonts/rajdhani/Rajdhani-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "rajdhani-regular";
    src: url("../fonts/rajdhani/Rajdhani-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "rajdhani-semibold";
    src: url("../fonts/rajdhani/Rajdhani-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "proxima-nova-thin";
    src: url("../fonts/proxima-nova/Proxima-Nova-Thin.otf") format("truetype");
}

@font-face {
    font-family: "proxima-nova-excn-thin";
    src: url("../fonts/proxima-nova/Proxima-Nova-ExCn-Thin.otf") format("truetype");
}

@font-face {
    font-family: "proxima-nova-excn-black";
    src: url("../fonts/proxima-nova/Proxima-Nova-ExCn-Black.otf") format("truetype");
}

@font-face {
    font-family: "proxima-nova-cond-thin";
    src: url("../fonts/proxima-nova/Proxima-Nova-Cond-Thin.otf") format("truetype");
}

@font-face {
    font-family: "proxima-nova-cond-black";
    src: url("../fonts/proxima-nova/Proxima-Nova-Cond-Black.otf") format("truetype");
}

@font-face {
    font-family: "gotham-bold";
    src: url("../fonts/gotham/GothamBold.ttf") format("truetype");
}

@font-face {
    font-family: "gotham-book";
    src: url("../fonts/gotham/GothamBook.ttf") format("truetype");
}

@font-face {
    font-family: "gotham-light";
    src: url("../fonts/gotham/GothamLight.ttf") format("truetype");
}

@font-face {
    font-family: "gotham-medium";
    src: url("../fonts/gotham/GothamMedium.ttf") format("truetype");
}

@font-face {
    font-family: "gotham-medium-1";
    src: url("../fonts/gotham/GothamMedium_1.ttf") format("truetype");
}