header {
    background: url("../img/patterns/txture-dark.png");
    position: fixed;
    width: 100%;
    z-index: 3;
    padding-top: 0px;
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

header li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    font-family: "rajdhani-bold";
    color: #a0a0a0;
    transition: ease-out 0.2s;
    font-size: 1.2em;
    -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

header li a:hover,
header .menu-btn:hover {
    color: #fff;
    transition: ease-in 0.2s;
    cursor: pointer;
}



header .logo {
    width: 40px;
    height: 40px;
    margin-top: 0;
    display: block;
    float: left;
    font-size: 1.3em;
    margin: 10px 5px;
    text-decoration: none;
    font-family: "brisk-pro";
    color: rgba(255, 255, 255, 0.733);
    background-image: url('../img/logo/dva.png');
    background-size: contain;
    background-repeat: no-repeat;
    transition: ease-out .3s;
}

.logo img {
    width: 80px;
    height: auto;
}

header .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

header .menu-icon .navicon {
    background: #fff;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
}

header .menu-icon .navicon:before,
header .menu-icon .navicon:after {
    background: #fff;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
}

header .menu-icon .navicon:before {
    top: 5px;
}

header .menu-icon .navicon:after {
    top: -5px;
}

header .menu-btn {
    display: none;
}

header .menu-btn:checked~.menu {
    max-height: 240px;
}

header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/* 48em = 768px */

@media (min-width: 992px) {
    header {
        padding-top: 50px;

    }

    header .logo {
        display: block;
        float: left;
        font-size: 1.3em;
        margin: 10px 5px;
        text-decoration: none;
        font-family: "brisk-pro";
        color: rgba(255, 255, 255, 0.733);
        background-image: url('../img/logo/dva.png');
        background-size: contain;
        width: 60px;
        height: 60px;
        margin-top: -20px;
        transition: ease-out .3s;
    }

    header li {
        float: left;
    }

    header li a {
        padding: 20px 20px;
    }

    header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    header .menu-icon {
        display: none;
    }

}

.selected-page {
    color: #fff !important;
}