@keyframes hue-rotate {
    from {
        -webkit-filter: hue-rotate(0);
        -moz-filter: hue-rotate(0);
        -ms-filter: hue-rotate(0);
        filter: hue-rotate(0);
    }

    to {
        -webkit-filter: hue-rotate(360deg);
        -moz-filter: hue-rotate(360deg);
        -ms-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }
}

@-webkit-keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }

    to {
        -webkit-mask-position: -50%;
    }
}

@keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }

    to {
        -webkit-mask-position: -50%;
    }
}

@-webkit-keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }

    to {
        -webkit-mask-position: -50%;
    }
}

@keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }

    to {
        -webkit-mask-position: -50%;
    }
}

@-webkit-keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }

    to {
        -webkit-mask-position: -50%;
    }
}

@keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }

    to {
        -webkit-mask-position: -50%;
    }
}

@-webkit-keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }

    to {
        -webkit-mask-position: -50%;
    }
}

@keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }

    to {
        -webkit-mask-position: -50%;
    }
}

@keyframes move {
    0% {
        top: 0px;
    }

    20% {
        top: -50px;
    }

    40% {
        top: -100px;
    }

    60% {
        top: -150px;
    }

    80% {
        top: -200px;
    }
}

@-webkit-keyframes move {
    0% {
        top: 0px;
    }

    20% {
        top: -50px;
    }

    40% {
        top: -100px;
    }

    60% {
        top: -150px;
    }

    80% {
        top: -200px;
    }
}

@-moz-keyframes move {
    0% {
        top: 0px;
    }

    20% {
        top: -50px;
    }

    40% {
        top: -100px;
    }

    60% {
        top: -150px;
    }

    80% {
        top: -200px;
    }
}

@-o-keyframes move {
    0% {
        top: 0px;
    }

    20% {
        top: -50px;
    }

    40% {
        top: -100px;
    }

    60% {
        top: -150px;
    }

    80% {
        top: -200px;
    }
}

@keyframes move {
    0% {
        top: 0px;
    }

    20% {
        top: -50px;
    }

    40% {
        top: -100px;
    }

    60% {
        top: -150px;
    }

    80% {
        top: -200px;
    }
}

@keyframes showup {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes slidein {
    0% {
        margin-left: -800px;
    }

    20% {
        margin-left: -800px;
    }

    35% {
        margin-left: 0px;
    }

    100% {
        margin-left: 0px;
    }
}

@keyframes reveal {
    0% {
        opacity: 0;
        width: 0px;
    }

    20% {
        opacity: 1;
        width: 0px;
    }

    30% {
        width: 355px;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 355px;
    }
}