@font-face {
    font-family: "brisk-pro";
    src: url("../fonts/brisk-pro/Brisk-Pro.otf") format("truetype");
}

@font-face {
    font-family: "brisk-pro-light";
    src: url("../fonts/brisk-pro/Brisk-Pro-Light.otf") format("truetype");
}

@font-face {
    font-family: "brisk-pro-thin";
    src: url("../fonts/brisk-pro/Brisk-Pro-Thin.otf") format("truetype");
}

@font-face {
    font-family: "rajdhani-bold";
    src: url("../fonts/rajdhani/Rajdhani-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "rajdhani-light";
    src: url("../fonts/rajdhani/Rajdhani-Light.ttf") format("truetype");
}

@font-face {
    font-family: "rajdhani-medium";
    src: url("../fonts/rajdhani/Rajdhani-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "rajdhani-regular";
    src: url("../fonts/rajdhani/Rajdhani-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "rajdhani-semibold";
    src: url("../fonts/rajdhani/Rajdhani-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "proxima1";
    src: url("../fonts/proxima-nova/FontsFree-Net-Proxima-Nova-Thin.otf") format("truetype");
}

@font-face {
    font-family: "proxima2";
    src: url("../fonts/proxima-nova/FontsFree-Net-Proxima-Nova-Cond-Thin.otf") format("truetype");
}

@font-face {
    font-family: "proxima3";
    src: url("../fonts/proxima-nova/FontsFree-Net-Proxima-Nova-ExCn-Black.otf") format("truetype");
}

@font-face {
    font-family: "proxima4";
    src: url("../fonts/proxima-nova/FontsFree-Net-Proxima-Nova-Cond-Black.otf") format("truetype");
}