html {
    font-size: 10px !important;
}

body {
    font-style: normal;
    color: #fff;
    background: #06070C;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    color: #fff;
}

h1 {
    font-size: 10rem;
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 4rem;
}

h4 {
    font-size: 3rem;
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 1.8rem;
}

p {
    font-size: 1.6rem;
}

a,
a:hover,
a:focus {
    cursor: pointer;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    text-decoration: none;
}

a:hover {
    color: #fff;
}



.preloader {
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}

.preloader.preloader-hidden {
    height: 0;

    -webkit-transition: .5s ease .3s;
    -o-transition: .5s ease .3s;
    transition: .5s ease .3s;
}

.preloader .spinner {
    position: absolute;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    opacity: 1;
}

.preloader.preloader-hidden .spinner {
    opacity: 0;

    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

.preloader .spinner>div {
    display: inline-block;

    width: 18px;
    height: 18px;
    margin: 0 6px;

    -webkit-animation: spinner-bounce 1.4s infinite ease-in-out both;
    animation: spinner-bounce 1.4s infinite ease-in-out both;

    border-radius: 100%;
    background-color: #fff;
}

.preloader .spinner .bounce-1 {
    -webkit-animation-delay: -.32s;
    animation-delay: -.32s;
}

.preloader .spinner .bounce-2 {
    -webkit-animation-delay: -.16s;
    animation-delay: -.16s;
}




/** 3. Hero
*******************************************************************/

.hero {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.hero .animation-container {
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}

.hero .animation-container.animation-fade {
    opacity: 0;
}

.hero .animation-container.animation-fade.run-animation {
    opacity: 1;
}

.hero .animation-container.animation-fade-up {
    -webkit-transform: translateY(10vh);
    -ms-transform: translateY(10vh);
    transform: translateY(10vh);

    opacity: 0;
}

.hero .animation-container.animation-fade-up.run-animation {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);

    opacity: 1;
}

.hero .animation-container.animation-fade-down {
    -webkit-transform: translateY(-10vh);
    -ms-transform: translateY(-10vh);
    transform: translateY(-10vh);

    opacity: 0;
}

.hero .animation-container.animation-fade-down.run-animation {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);

    opacity: 1;
}

.hero .animation-container.animation-fade-left {
    -webkit-transform: translateX(10vh);
    -ms-transform: translateX(10vh);
    transform: translateX(10vh);

    opacity: 0;
}

.hero .animation-container.animation-fade-left.run-animation {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);

    opacity: 1;
}

.hero .animation-container.animation-fade-right {
    -webkit-transform: translateX(-10vh);
    -ms-transform: translateX(-10vh);
    transform: translateX(-10vh);

    opacity: 0;
}

.hero .animation-container.animation-fade-right.run-animation {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);

    opacity: 1;
}



/** 4. Hero --> Front Content 
*******************************************************************/

.hero .front-content {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.hero .front-content .container-mid {
    position: absolute;
    top: 50%;
    left: 0;

    width: 100%;
    padding: 0 30px;

    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

.hero .front-content .container-mid h1 {
    font-weight: bold;

    margin-top: 0;
    margin-bottom: .29em;
}

.hero .front-content .container-mid p.subline {
    font-family: 'rajdhani-bold';
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.603);
    letter-spacing: .025em;
}



/** 5. Hero --> Background Content 
*******************************************************************/

.hero .background-content {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    overflow: hidden;

    width: 100%;
    height: 100%;
}

.hero .background-content .background-content-inner {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;

    width: 100%;
    height: 100%;

    -webkit-transform: translate3d(-50%, -50%, 0px) !important;
    transform: translate3d(-50%, -50%, 0px) !important;
}

.hero .background-content.parallax-on .background-content-inner {
    width: 110%;
    height: 110%;
}

.hero .background-content .background-overlay {
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: .6;
    background: #06070C;
}

.hero .background-content .background-img {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}


.f-bp {
    font-family: 'brisk-pro';
    font-size: 4em;
}

.gradient-divider {
    height: 1px;
    width: 60%;
    margin: 0 auto;
    background-image: linear-gradient(left, #06070C 2%, #fff 50%, #06070C 98%);
    background-image: -o-linear-gradient(left, #06070C 2%, #fff 50%, #06070C 98%);
    background-image: -moz-linear-gradient(left,
            #06070C 2%,
            #fff 50%,
            #06070C 98%);
    background-image: -webkit-linear-gradient(left,
            #06070C 2%,
            #fff 50%,
            #06070C 98%);
    background-image: -ms-linear-gradient(left,
            #06070C 2%,
            #fff 50%,
            #06070C 98%);
    background-image: -webkit-gradient(linear,
            left bottom,
            right bottom,
            color-stop(0.02, rgba(0, 0, 0, 0.061)),
            color-stop(0.5, #fff),
            color-stop(0.98, rgba(0, 0, 0, 0.061)));


}

.scale-in-hor-center {
    -webkit-animation: scale-in-hor-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-hor-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.shine-effect {
    -webkit-mask-image: linear-gradient(-75deg,
            rgba(0, 0, 0, 0.6) 30%,
            #000 50%,
            rgba(0, 0, 0, 0.6) 70%);
    mask-image: linear-gradient(-75deg,
            rgba(0, 0, 0, 0.6) 30%,
            #000 50%,
            rgba(0, 0, 0, 0.6) 70%);
    -webkit-mask-size: 200%;
    mask-size: 200%;
    animation: shine 4s infinite;
    color: rgb(255, 255, 255) !important;
    transition: ease-in 0.5s;
}




.social-links {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 1000;
}

.social-links a {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(182, 182, 182, 0.1);
    color: #fff;
    line-height: 1;
    margin-right: 8px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.social-links a:hover {
    background: #FDD56E;
    color: #06070C;
}

.rotate-in-center {
    -webkit-animation: rotate-in-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: rotate-in-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.subtitle {
    font-family: 'rajdhani-regular';
    color: #9F9F9F;
    font-size: 2.2em;
}


/*--------------------------------------------------------------
# Credits
--------------------------------------------------------------*/
.credits {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 15px;
    text-align: right;
    font-size: 18px;
    color: #fff;
    z-index: 1;
}

.credits a {
    color: #18d26e;
    transition: 0.3s;
}

.credits a:hover {
    color: #fff;
}

.copyright {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 15px;
    text-align: left;
    font-size: 18px;
    color: #fff;
    z-index: 1;
    font-family: 'proxima3;

}

.selection-off {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.copyright a {
    color: #18d26e;
    transition: 0.3s;
}

.copyright a:hover {
    color: #fff;
}

.za {
    font-size: 20px;
}
